*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

.card{
    display: none;
}

.ativa{
    display: block;
}

body{
    background:linear-gradient(135deg,#e97cff,#4b0000);
    color:rgb(255, 255, 255);
    min-height:100vh;
}

.container{
    max-width:900px;
    margin:auto;
    padding:40px 20px;
}

.hero{
    text-align:center;
    padding:80px 20px;
}

.hero h1{
    font-size:4rem;
    margin-bottom:15px;
}

.hero p{
    font-size:1.2rem;
    opacity:.9;
}

.heart{
    font-size:4rem;
    animation:pulse 1.5s infinite;
}

@keyframes pulse{
    50%{
   transform:scale(1.15);
    }
}

.card{
    background:rgb(53, 1, 1);
    backdrop-filter:blur(10px);
    padding:30px;
    border-radius:20px;
    margin:25px 0;
}

.card h2{
    margin-bottom:15px;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:15px;
}

.gallery img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:15px;
    transition:0.3s;
}

.gallery img:hover{
    transform:scale(1.05);
}

button{
    background:rgb(59, 5, 5);
    color:#ffffff;
    border:none;
    padding:12px 25px;
    border-radius:30px;
    cursor:pointer;
    font-size:1rem;
    margin-top:20px;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}

#mensagem{
    margin-top:20px;
    font-size:1.1rem;
    font-weight:bold;
}

footer{
    text-align:center;
    padding:30px;
    opacity:.8;
}

@media (max-width: 768px){

    .hero h1{
        font-size:2.8rem;
    }

    .hero p{
        font-size:1rem;
    }

    .gallery img{
        height:220px;
    }
}
.musica{
    background-color: rgb(83, 0, 0);
}
.musica{
    text-align: center;
}

#estrelas{
    position: fixed;
    inset: 0;
    z-index: -1;
}
.estrela{
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 10px white;
    animation: twinkle 3s infinite;
}

@keyframes twinkle{
0%, 100%{opacity: .2; transform:scale(.5)
}
50%{
    opacity: 1; transform:scale(1.8);
}
}